@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fff;
  --secondary-color: #808080;
}

@font-face {
    font-family: 'Correct Condensed';
    src: url('../../public/fonts/Correct-CondensedBlack.eot');
    src: url('../../public/fonts/Correct-CondensedBlack.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/Correct-CondensedBlack.woff2') format('woff2'),
        url('../../public/fonts/Correct-CondensedBlack.woff') format('woff'),
        url('../../public/fonts/Correct-CondensedBlack.ttf') format('truetype'),
        url('../../public/fonts/Correct-CondensedBlack.svg#Correct-CondensedBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-Black.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-Medium.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-Italic.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-Bold.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-ExtraBoldItalic.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-MediumItalic.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-BlackItalic.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-ExtraBold.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-BoldItalic.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-Regular.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia VF';
    src: url('../../public/fonts/RamboiaVF.woff2') format('woff2'),
        url('../../public/fonts/RamboiaVF.ttf') format('ttf');
    font-weight: 400 900;
    font-style: normal;
    font-display: swap;
}


/* Ensure the scroll container has proper stacking context */
.scroll-container {
  position: relative;
  -webkit-overflow-scrolling: touch;
  height: 100vh;      /* or calc(100vh - header) */
  overflow-y: auto;   /* enable vertical scrolling */
}

html {
    font-size: 62.5%;
    /* overflow: hidden; */
    scroll-behavior: auto !important;
}

body {
  background: var(--primary-color);
  transition: background 0.755s ease-in-out;
}

/* body,
* {
  cursor: url('/cursor.png'), auto;
} */

.scrollable {
  cursor: auto;
}

.os-scrollbar-vertical .os-scrollbar-handle:before {
    left: 0;
    right: 0;
}

.os-scrollbar {
  background-color: var(--primary-color);
  --os-handle-bg: var(--secondary-color) !important;
  --os-handle-bg-hover: var(--secondary-color) !important;
  --os-handle-bg-active: var(--secondary-color) !important;
}

.os-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 0;
}

.os-scrollbar-track {
  background-color: var(--primary-color);
  border-radius: 0;
}

.os-scrollbar-button {
  background-color: var(--primary-color);
}


/* Horizontal scrollbar */
.os-scrollbar-horizontal .os-scrollbar-handle {
  border-radius: 0 !important;
  height: 4px !important;
}

/* Vertical scrollbar (if customizing) */
.os-scrollbar-vertical .os-scrollbar-handle {
  border-radius: 0 !important;
  width: 5px !important;
}

/* components/globals.css */
/* Custom grab cursor */
.os-host {
  cursor: grab;
}
.os-host.grabbing {
  cursor: grabbing;
}

/* Prevent image/button drag interference */
.filter-item img, .filter-item button {
  user-select: none;
  -webkit-user-drag: none;
}

/* Remove all extra spacing */
.os-host-overflow-x {
  padding-bottom: 0 !important;
}

.os-scrollbar-horizontal {
  bottom: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 4px !important;
}

/* .os-scrollbar {
  height: 14px !important;
  width: 14px !important;
} */

.scrollHeight {
  height: 38px !important;
}


.os-scrollbar-horizontal .os-scrollbar-track {
  height: 100% !important;
}

.os-scrollbar-horizontal .os-scrollbar-handle {
  min-width: 60px !important; /* Prevent handle from becoming too small */
}

.text-link {
    font-family: 'Ramboia VF';
    font-variation-settings: "wght" 400;
    transition: font-variation-settings 1.6s cubic-bezier(.19,1,.22,1);
  }
  
  .text-link:hover {
    font-variation-settings: "wght" 700;
  }

  .text-link.active {
    font-variation-settings: "wght" 700;
  }

  ::-moz-selection { /* Code for Firefox */
    color: var(--secondary-color);
  }
  
  ::selection {
    color: var(--secondary-color);
  }