@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Correct Condensed';
    src: url('../../public/fonts/Correct-CondensedBlack.eot');
    src: url('../../public/fonts/Correct-CondensedBlack.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/Correct-CondensedBlack.woff2') format('woff2'),
        url('../../public/fonts/Correct-CondensedBlack.woff') format('woff'),
        url('../../public/fonts/Correct-CondensedBlack.ttf') format('truetype'),
        url('../../public/fonts/Correct-CondensedBlack.svg#Correct-CondensedBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-Black.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-Medium.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-Italic.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-Bold.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-ExtraBoldItalic.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-MediumItalic.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-BlackItalic.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-ExtraBold.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-BoldItalic.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia';
    src: url('../../public/fonts/Ramboia-Regular.woff2') format('woff2'),
        url('../../public/fonts/Ramboia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ramboia VF';
    src: url('../../public/fonts/RamboiaVF.woff2') format('woff2'),
        url('../../public/fonts/RamboiaVF.ttf') format('ttf');
    font-weight: 400 900;
    font-style: normal;
    font-display: swap;
}


/* Ensure the scroll container has proper stacking context */
.scroll-container {
  position: relative;
  -webkit-overflow-scrolling: touch;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: auto !important;
}

.spacer::after{
    content: '';
    display: block;
    height: 5px;
    width: 40px;
    background-color: #000;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

*::-webkit-scrollbar-track
{
	border-radius: 16px;
	background-color: #fff;
}

*::-webkit-scrollbar
{
	width: 6px;
	height: 6px;
	background-color: #fff;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	background-color: #756D47;
}

.text-link {
    font-family: 'Ramboia VF';
    font-variation-settings: "wght" 400;
    transition: font-variation-settings 1.6s cubic-bezier(.19,1,.22,1);
  }
  
  .text-link:hover {
    font-variation-settings: "wght" 700;
  }

  .text-link.active {
    font-variation-settings: "wght" 700;
  }

  ::-moz-selection { /* Code for Firefox */
    color: #FF5416;
  }
  
  ::selection {
    color: #FF5416;
  }